* {
  margin: 0;
  padding: 0;
  color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
}

.navbartop {
  background-color: #be3144;


  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: fixed;
}

.navbartop ul li {
  display: flex;
  list-style: none;
  justify-content: center;
}

.navlist li a {
  margin-right: 2rem;
  text-decoration: none;
  font-size: 2.2rem;
  padding: 1rem;
}

.navlist li a:hover {
  background-color: #45567d;
}

.welcomecontainer {
  width: 100%;
  height: 930px;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomecontainer h1 {
  font-size: 64px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

.welcomecontainer p {
  font-size: 40px;
  font-weight: 200;
  font-style: italic;
  color: #be3144;
}

.projectsection {
  text-align: center;
  padding: 140px 32px;
  background: #45567d;
}

.projectsectionheader {
  max-width: 700px;
  margin: 0px auto 96px auto;
  border-bottom: 0.2rem solid #f0f0f0;
  padding: 5px;
}

.projectsection h2 {
  font-size: 45px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

.projectsectionbody {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin-left: 275px;
  justify-content: space-between;
}

.projectsectionbodyitems {
  background-color: rgb(46 54 62);
  height: 100%;
  width: 30%;
  margin-top: 45px;

}

.projectsectionbodyitems img {
  height: 400px;
  width: 414px;


  border-radius: 2px;
}

.projectsectionbodyitems a {
  display: block;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
}

.projectsectionbodyitems p {
  background-color: #303841;
  padding: 16px 8px;
}


.code {
  display: none;
}

.projectsectionbodyitems p:hover {
  .code {
    display: block;
    color: rgb(201, 98, 98);
    transition: 0.3s ease-out;
    display: inline;
    font-weight: bold;
  }


}

.projectsectionfooter button {
  background-color: #303841;
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
  font-size: 15px;
  margin-top: 85px;
}


.projectsectionfooter button:hover {
  background-color: #be3144;
  font-size: 17px;
  transition: 0.3s ease-out;
}




.Contacttext {

  background-color: #303841;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;

}

.Contacttextheader {}

.Contacttextheader h1 {
  font-size: 75px;
}

.Contacttextheader p {
  font-style: italic;
  font-size: 25px;
  padding: 8px 0px 20px 200px;
}

.Contacticons {

  font-size: 25px;
  text-shadow: 2px 2px 1px #1f1f1f;

  width: 50%;
  height: 20%;
  display: flex;
  justify-content: space-between;

}


.Contacticons a {
  text-decoration: none;
  transition: transform 0.2s ease-out;


}

.Contacticons a:hover {


  margin-top: 10px;
}



.Contactfooter {
  border-top: 4px solid red;
  background-color: #303841;
  font-size: larger;
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}